<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.pool_size">1</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- Disable the second-level cache  -->
<!--        <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>-->

        <!-- Echo all executed SQL to standard output -->
        <property name="show_sql">true</property>

        <!--Drop and re-create the database schema on startup-->
        <property name="hbm2ddl.auto">create</property>

        <!-- Enable Hibernate stats in the logs -->
        <property name="hibernate.generate_statistics">false</property>

        <!-- Auto-generate schema -->
         <property name = "hibernate.hbm2ddl.auto">create</property>

        <!-- Full names of annotated entity classes -->
        <mapping class="pl.edu.pjwstk.s24987.model.World"/>
        <mapping class="pl.edu.pjwstk.s24987.model.Chapter"/>
        <mapping class="pl.edu.pjwstk.s24987.model.Story"/>
        <mapping class="pl.edu.pjwstk.s24987.model.ChapterScene"/>
        <mapping class="pl.edu.pjwstk.s24987.model.WorldElement"/>
        <mapping class="pl.edu.pjwstk.s24987.model.Character"/>
        <mapping class="pl.edu.pjwstk.s24987.model.Animal"/>
    </session-factory>
</hibernate-configuration>
