.story-title-text-field {
    -fx-text-box-border: transparent;
    -fx-background-color: blank;
    -fx-alignment: center;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
}

.scene-text-area {
    -fx-font-size: 14px;
}

.obj-list-label {
    -fx-padding: 0px 0px 5px 0px;
    -fx-font-size: 13px;
}