.tab-pane {
    -fx-padding: 10px;
}

.section-label {
    -fx-padding: 5px 0px;
    -fx-font-size: 14px;
}

.title-text-field {
    -fx-text-box-border: transparent;
    -fx-background-color: blank;
    -fx-alignment: center;
    -fx-font-size: 18px;
}

.btn-box {
    -fx-padding: 10px;
}

.back-btn {
    -fx-border-style: none;
    -fx-background-color: blank;
}

.chapter-switch-btn {
    -fx-border-style: none;
    -fx-background-color: blank;
}

